<div class="aboutmain" (scroll)="onscroll($event)">


    <div class="bannered diskbanner">
        <div class="bannerstart" (mousemove)="aboutmovable($event)">
            <div class="flexi">
                <div class="grid-50">
                    <div class="abouttitle">
                        Producing<br> superb<br> work
                    </div>
                    <div class="aboutdesc">
                        No matter what kind of digital needs you have, website or app you want,
Pixelorio is the one. We meet all your digital needs, get a professional
website, engaging app with customizable settings, including fonts, colors,
graphics, page configurations...
                    </div>
                </div>
                <div class="grid-50">
                    <div class="imagesecs">
                        <img src="assets/img/disk.png" />
                        <span class="imageshadow"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="bannered mainfeatures">
        <div class="bannerstart">
            <div class="fixedillustration">
                <img src="assets/img/aboutship.svg" />
            </div>
            <div class="fixedpatterns"></div>
            <div class="featuretitle"><div class="maintitleabt">ABOUT</div></div>
            <div class="flexi featureservicesmain">
                <div class="grid-25">
                    <div class="titlefeature">Top-Notch<br> Web Development</div>
                    <div class="descfeature">We craft eternal impressions visually &amp; interactively, that can go beyond
                        expectations and begin to bond with folks in a way that is transformational.</div>
                </div>
                <div class="grid-25">
                    <div class="titlefeature">Top-Notch<br> App Development</div>
                    <div class="descfeature">With over 100+ successful projects under our work portfolio, we proffer fully
                        equipped mobile application development services customized to your
                        business needs and requirements.</div>
                </div>
                <div class="grid-25">
                    <div class="titlefeature">Top-Notch<br> Digital Marketing</div>
                    <div class="descfeature">Boost your business with new age marketing strategies of digital world.
                        Digital marketing is marketing of products/services using digital technologies
                        and we are connoisseur.</div>
                </div>
                <div class="grid-25">
                    <div class="titlefeature">Top-Notch<br> Web Designing</div>
                    <div class="descfeature">Get a stunning yet customized website for your business. We as an expert
                        offer web design services at the most competitive prices among all.</div>
                </div>
            </div>
            <div class="flexi whosec">
                <div class="grid-50 imagewho">
                    <img src="assets/img/who1.jpg" />
                </div>
                <div class="grid-50">
                    <div class="whotitle">
                        WHO WE ARE
                    </div>
                    <div class="whodesc">
                        Pixelorio is renowned Digital Agency based in India. We develop websites, create website designs, make mobile
applications, do SEO, create content and what not. We work with clients
from different industries across the globe.
                        <br>
                        Every client we work with
becomes a part of the Pixelorio. We have a team of experienced, skillful and
passionate designers, developers, project managers, writers, and artists.
Keeping in mind the right colors, the right layout, and an impermeable code,
we help clients to get maximize leads and conversions. So, <strong routerLink="/contact">ping us now</strong>.
                    </div>
                    <div class="singletestisec">
                        <div class="aboutmainpic"></div>
                        <div class="generalblock">
                            <div class="authorgen">Pixelorio Squad</div>
                            <div class="authtext">
                                Pixelorio team helps you in every way, developing professional, stunning
websites since a decade. We are easy to work with &amp; and dedicated towards your Business growth
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-100">
                    <div class="abouttitlebig">
                        <div class="aboutcontent">
                            Allow us to serve you with an attractive yet engaging application/site
                        </div>
                    </div>
                </div>
            </div>
            <div class="flexi featureitems">
                <div class="grid-33">
                    <div class="iconwrap">
                        <span class="webicon">
                            <img src="assets/img/webicon.svg" />
                        </span>
                    </div>
                    <div class="featuresub">Web<br>Development</div>
                    <div class="featuredesc">
                        Web development is a trending online chore these days. Ranging from simple
static web page to complex dynamic websites, it is dominating the business
profoundly. Not to mention, we also use responsive web designs in all types
of current web development.
                    </div>
                    <div class="featurelinks">
                    
                        <a class="linksorange">
                        Static web development
                        </a>,
                        <a class="linksorange">
                        web development
                        </a>,
                        <a class="linksorange">
                        static web page
                        </a>,
                        <a class="linksorange">
                        dynamic websites,
                        </a>,
                        <a class="linksorange">
                        responsive web design
                        </a>,
                        <a class="linksorange">
                        website development
                        </a>
                            
                    </div>
                </div>
                <div class="grid-33">
                    <div class="iconwrap">
                        <span class="webicon">
                            <img src="assets/img/mobileapps.svg" />
                        </span>
                    </div>
                    <div class="featuresub">App<br>Development</div>
                    <div class="featuredesc">
                        This fast-growing digital world demands a powerful, process-based
application to facilitate clients, their products and services. Let us serve you
with an attractive yet engaging application to solve all your everyday
business queries.
                    </div>
                    <div class="featurelinks">
                    
                        <a class="linksgreen">
                        Mobile app
                        </a>,
                        <a class="linksgreen">
                        Android app
                        </a>,
                        <a class="linksgreen">
                        Windows app
                        </a>,
                        <a class="linksgreen">
                        iOS App
                        </a>,
                        <a class="linksgreen">
                        Smartphone application
                        </a>
                            
                    </div>
                </div>
                <div class="grid-33">
                    <div class="iconwrap">
                        <span class="webicon">
                            <img src="assets/img/brains.svg" />
                        </span>
                    </div>
                    <div class="featuresub">CMS<br>Systems</div>
                    <div class="featuredesc">
                        CMS features differ broadly. WordPress, Radiant CMS, Cushy
CMS, Drupal, Joomla, ExpressionEngine, TextPattern, SilverStripe are
the most usable CM Systems. CMS software tool permits you to create,
modify, manage the digital content and we can better assist you in this.
                    </div>
                    <div class="featurelinks">
                        <a class="linksred" href="javascript:void(0);">
                        WordPress
                        </a>,
                        <a class="linksred" href="javascript:void(0);">
                        Drupal
                        </a>,
                        <a class="linksred" href="javascript:void(0);">
                        Joomla
                        </a>,
                        <a class="linksred" href="javascript:void(0);">
                        Content Management Systems
                        </a>,
                        <a class="linksred" href="javascript:void(0);">
                        Radiant CMS
                        </a>,
                        <a class="linksred" href="javascript:void(0);">
                        Cushy CMS
                        </a>,
                        <a class="linksred" href="javascript:void(0);">
                        ExpressionEngine
                        </a>,
                        <a class="linksred" href="javascript:void(0);">
                        TextPattern
                        </a>,
                        <a class="linksred" href="javascript:void(0);">
                        SilverStripe
                        </a>   
                            
                    </div>
                </div>
                <div class="grid-33">
                    <div class="iconwrap">
                        <span class="webicon">
                            <img src="assets/img/productdesign.svg" />
                        </span>
                    </div>
                    <div class="featuresub">Digital<br class="hiddendesktop"> Marketing</div>
                    <div class="featuredesc">
                        Discover the new age digital marketing services from Pixelorio. We offer best-in-class Search Engine Optimization (SEO), Pay-Per-Click (PPC) Advertising, ORM, Social Media Marketing (SMM), Search Engine Marketing (SEM), Affiliate Marketing, Content Marketing, Web design & development services.
                    </div>
                    <div class="featurelinks">
                        <a class="linkscgreen" href="javascript:void(0);">SEO</a>,
                        <a class="linkscgreen" href="javascript:void(0);">PPC</a>,
                        <a class="linkscgreen" href="javascript:void(0);">ORM</a>,
                        <a class="linkscgreen" href="javascript:void(0);">SMM</a>,
                        <a class="linkscgreen" href="javascript:void(0);">SEM</a>,
                        <a class="linkscgreen" href="javascript:void(0);">Affiliate Marketing</a>
                            
                    </div>
                </div>
                <div class="grid-33">
                    <div class="iconwrap">
                        <span class="webicon">
                            <img src="assets/img/marketing.svg" />
                        </span>
                    </div>
                    <div class="featuresub">Content Marketing</div>
                    <div class="featuredesc">
                        Our strategic marketing approach pays attention on creating, publishing, and distributing pertinent yet reliable content which can attract and drive customer’s attention online which ultimately leads to action. It has been done with an intention to stimulate the interest of products or services.
                    </div>
                    <div class="featurelinks">
                        <a class="linksblue" href="javascript:void(0);">Content is king</a>,
                        <a class="linksblue" href="javascript:void(0);">content marketing</a>,
                        <a class="linksblue" href="javascript:void(0);">product marketing</a>,
                        <a class="linksblue" href="javascript:void(0);">digital content</a>,
                        <a class="linksblue" href="javascript:void(0);">video content</a>,
                        <a class="linksblue" href="javascript:void(0);">blogging</a>,
                        <a class="linksblue" href="javascript:void(0);">article content</a>
                    </div>
                </div>
                <div class="grid-33">
                    <div class="iconwrap">
                        <span class="webicon">
                            <img src="assets/img/analysis.svg" />
                        </span>
                    </div>
                    <div class="featuresub">Product Designing UI-UX</div>
                    <div class="featuredesc">
                        UI (User Interface) & UX (User Experience) design services can bring in a marvelous transformation to your website/product. The objective of the UI and UX design and development are to deliver a thoughtful end user experience, and we have expertise in that.
                    </div>
                    <div class="featurelinks">
                        <a class="linkspink" href="javascript:void(0);">Ui(User Interface)</a>,
                        <a class="linkspink" href="javascript:void(0);">UX(User Experience)</a>,
                        <a class="linkspink" href="javascript:void(0);">product design</a>,
                        <a class="linkspink" href="javascript:void(0);">designing code</a>,
                        <a class="linkspink" href="javascript:void(0);">Digital Screen</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="bannered awardssec">
        <div class="bannerstart">
            <owl-carousel [options]="{items:1,nav:true,dots:false,mousewheel:true,fluidSpeed:1000,smartSpeed:1000,slideBy:1,animateOut: 'slideOutDown',animateIn: 'slideInUp', autoHeight:true}" [carouselClasses]="['rofess']" #newowl>
                <div class="item">
                    <div class="flexi">
                        <div class="grid-50">
                            <div class="professionals">
                                <div class="titleprof">Team of professionals</div>
                                <div class="aboutteam">Our dedicated and trained team includes full-time website developers, app
                                    designers, marketing experts. All of them are passionate about their work.
                                    Our staff has immense experience in the field of website
                                    designing/development, app creation, &amp; online marketing. Come &amp; be a part
                                    of India’s top-notch online service providers. From our skilled in-house web/app developers and designers to our marketing and customer support
                                    staff, we all are looking forward to working with you.
                                <div class="about-social-links">
                                    <ul>
                                        <li><a href="">Email</a></li>
                                        <li><a href="">Facebook</a></li>
                                        <li><a href="">Twitter</a></li>
                                        <li><a href="">Skype</a></li>
                                    </ul>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-50">
                            <div class="teamimg">
                                <img src="assets/img/teamfull.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="flexi">
                        <div class="grid-50">
                            <div class="teamimg">
                                <img src="assets/img/teamfull.jpg" />
                            </div>
                        </div>
                        <div class="grid-50">
                            <div class="professionals">
                                <div class="titleprof">Web & UI-UX</div>
                                <div class="aboutteam">UI (User Interface) &amp; UX (User Experience) design services can bring in a
                                    marvelous transformation to your website. The objective of the UI and UX
                                    design and development are to deliver a thoughtful end user experience.
                                        <div class="about-social-links">
                                                <ul>
                                                    <li><a routerLink="/contact">Respond <i class="zmdi zmdi-long-arrow-right"></i></a></li>
                                                </ul>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                        <div class="flexi">
                            <div class="grid-50">
                                <div class="teamimg">
                                    <img src="assets/img/teamfull.jpg" />
                                </div>
                            </div>
                            <div class="grid-50">
                                <div class="professionals">
                                    <div class="titleprof">App Development</div>
                                    <div class="aboutteam">This fast growing digital world demands a powerful, process-based
                                        application to facilitate your clients, your products and services. Let us serve
                                        you with an attractive yet engaging application to solve all your everyday
                                        business queries.
                                            <div class="about-social-links">
                                                    <ul>
                                                        <li><a href="">Respond <i class="zmdi zmdi-long-arrow-right"></i></a></li>
                                                    </ul>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                            <div class="flexi">
                                <div class="grid-50">
                                    <div class="teamimg">
                                        <img src="assets/img/teamfull.jpg" />
                                    </div>
                                </div>
                                <div class="grid-50">
                                    <div class="professionals">
                                        <div class="titleprof">Digital Marketing</div>
                                        <div class="aboutteam">Discover the new age digital marketing services from Pixelorio. We offer
                                            best-in-class Search Engine Optimization (SEO), Pay-Per-Click (PPC)
                                            Advertising, ORM, Social Media Marketing (SMM), Search Engine
                                            Marketing (SEM), Affiliate Marketing, Content Marketing, Web design &amp;
                                            development services.
                                                <div class="about-social-links">
                                                        <ul>
                                                            <li><a href="">Respond <i class="zmdi zmdi-long-arrow-right"></i></a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </owl-carousel>
        </div>
    </div>
    <div class="bannered technologiesshow" (wheel)="scripttowork($event)">
        <div class="bannerstart">
            <div class="panoramastart">
                <img src="assets/img/techpano.jpg" />
                <div class="form-area">
                    <div class="headlineabout">Get in Touch</div>
                    <app-contactform></app-contactform>
                </div>
                <div class="pantitle">
                    WE USE THE MOST<br /> ADVANCED TECHNOLOGIES
                </div>
            </div>
        </div>
    </div>


</div>