<div class="aboutmain" (scroll)="onscroll($event)">


    <div class="bannered diskbanner">
        <div class="bannerstart">
            <div class="flexi">
                <div class="grid-50">
                    <div class="abouttitle">
                        Producing<br> Superb<br> Apps
                    </div>
                    <div class="aboutdesc">
                        Expertise and ten-year experience of our team in E-commerce, FoodTech, machine learning, medicine and education for your business development.
                    </div>
                </div>
                <div class="grid-50">
                    <div class="imagesecs">
                        <img src="assets/img/disk.jpg" />
                        <span class="imageshadow"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="bannered mainfeatures">
        <div class="bannerstart">
            <div class="fixedillustration">
                <img src="assets/img/aboutship.svg" />
            </div>
            <div class="fixedpatterns"></div>
            <div class="featuretitle">ABOUT</div>
            <div class="flexi featureservicesmain">
                <div class="grid-25">
                    <div class="titlefeature">Breakthrough<br> Ideas</div>
                    <div class="descfeature">Unique solutions only - created and designed exclusively for a particular client</div>
                </div>
                <div class="grid-25">
                    <div class="titlefeature">GETTING IMMERSED<br> IN YOUR PROJECT</div>
                    <div class="descfeature">We design our product for particular users and take into consideration all the client field specifics</div>
                </div>
                <div class="grid-25">
                    <div class="titlefeature">Regular<br> Reporting</div>
                    <div class="descfeature">Reporting on progress is provided each week. Personal manager ensures that the client is duly briefed on the recent ongoings</div>
                </div>
                <div class="grid-25">
                    <div class="titlefeature">FLEXIBLE<br> METHODOLOGY</div>
                    <div class="descfeature">Any second your project can be rapidly expanded, complicated, modified or even fully reworked thanks to Agile/Scrum methodologies</div>
                </div>
            </div>
            <div class="flexi whosec">
                <div class="grid-50 imagewho">
                    <img src="assets/img/who1.jpg" />
                </div>
                <div class="grid-50">
                    <div class="whotitle">
                        WHO WE ARE
                    </div>
                    <div class="whodesc">
                        Our team is formed by talented creative-thinking designers and experienced programmers, we are therefore offering only high-quality service.
                        <br>
                        We are all truly passionate about what we do and perceive every project as an opportunity to create something distinctively original, brand-new and unique.
                    </div>
                    <div class="singletestisec">
                        <div class="aboutmainpic"></div>
                        <div class="generalblock">
                            <div class="authorgen">Squadian</div>
                            <div class="authtext">
                                Pixelorio creates websites and mobile applications for the companies of all sizes engaged in various fields.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-100">
                    <div class="abouttitlebig">
                        <div class="aboutcontent">
                            A full range of services is provided - from idea to its implementation
                        </div>
                    </div>
                </div>
            </div>
            <div class="flexi featureitems">
                <div class="grid-33">
                    <div class="iconwrap">
                        <span class="webicon">
                            <img src="assets/img/webicon.svg" />
                        </span>
                    </div>
                    <div class="featuresub">Website<br>Development</div>
                    <div class="featuredesc">
                        We develop websites of any complexity ranging from promo-sites to high-load services.
                    </div>
                    <div class="featurelinks">
                    
                        <a class="linksorange" href="/work/usatoday">
                        USA Today
                        </a>,
                        <a class="linksorange" href="/work/leningrad">
                        Leningrad
                        </a>,
                        <a class="linksorange" href="/work/orsetto-shop">
                        Orsetto
                        </a>,
                        <a class="linksorange" href="/work/flatun">
                        Flatun
                        </a>,
                        <a class="linksorange" href="/work/foodberry-event">
                        FoodBerry Event
                        </a>,
                        <a class="linksorange" href="/work/times">
                        NYTimes Redesign
                        </a>,
                        <a class="linksorange" href="/work/libi">
                        Libi.io
                        </a>,
                        <a class="linksorange" href="/work/orsetto">
                        ORSETTO
                        </a>
                            
                    </div>
                </div>
                <div class="grid-33">
                    <div class="iconwrap">
                        <span class="webicon">
                            <img src="assets/img/mobileapps.svg" />
                        </span>
                    </div>
                    <div class="featuresub">Mobile Apps<br>Development</div>
                    <div class="featuredesc">
                        We design and develop native IOS and Android applications for all kinds of devices: Mobile, Watch, TV.
                    </div>
                    <div class="featurelinks">
                    
                        <a class="linksgreen" href="/work/usatoday">
                        USA Today
                        </a>,
                        <a class="linksgreen" href="/work/leningrad">
                        Leningrad
                        </a>,
                        <a class="linksgreen" href="/work/orsetto-shop">
                        Orsetto
                        </a>,
                        <a class="linksgreen" href="/work/flatun">
                        Flatun
                        </a>,
                        <a class="linksgreen" href="/work/foodberry-event">
                        FoodBerry Event
                        </a>
                            
                    </div>
                </div>
                <div class="grid-33">
                    <div class="iconwrap">
                        <span class="webicon">
                            <img src="assets/img/brains.svg" />
                        </span>
                    </div>
                    <div class="featuresub">Intelligent<br>Systems</div>
                    <div class="featuredesc">
                        Working with neural networks, recommendation systems, computer vision and text processing.
                    </div>
                    <div class="featurelinks">
                        <a class="linksred" href="/work/orsetto">
                        ORSETTO
                        </a>
                            
                    </div>
                </div>
                <div class="grid-33">
                    <div class="iconwrap">
                        <span class="webicon">
                            <img src="assets/img/productdesign.svg" />
                        </span>
                    </div>
                    <div class="featuresub">Product Design</div>
                    <div class="featuredesc">
                        Branding, graphics, identica, wireframing, ui kit, marketing kit.
                    </div>
                    <div class="featurelinks">
                        <a class="linksred" href="/work/orsetto">
                        ORSETTO
                        </a>
                            
                    </div>
                </div>
                <div class="grid-33">
                    <div class="iconwrap">
                        <span class="webicon">
                            <img src="assets/img/marketing.svg" />
                        </span>
                    </div>
                    <div class="featuresub">Marketing</div>
                    <div class="featuredesc">
                            We will help to promote your service, increase traffic and will optimize conversion. SEO, contextual advertising, SMM, ASO, media buying, E-mail marketing.
                    </div>
                </div>
                <div class="grid-33">
                    <div class="iconwrap">
                        <span class="webicon">
                            <img src="assets/img/analysis.svg" />
                        </span>
                    </div>
                    <div class="featuresub">Analytics</div>
                    <div class="featuredesc">
                            Event tracking set up and funnel analysis, end-to-end analysis, business analysis, CRM-integration.
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="bannered awardssec">
        <div class="bannerstart">
            <owl-carousel [options]="{items:1,nav:false,dots:false,mousewheel:true,fluidSpeed:1000,smartSpeed:1000,slideBy:1}" [carouselClasses]="['rofess']" #newowl>
                <div class="item">
                    <div class="flexi">
                        <div class="grid-50">
                            <div class="professionals">
                                <div class="titleprof">Team of professionals</div>
                                <div class="aboutteam">Our team is formed by talented creative-thinking designers and experienced programmers, we are therefore offering only high-quality service. <br><br>Our team is formed by talented creative-thinking designers and experienced programmers, we are therefore offering only high-quality service.
                                <div class="about-social-links">
                                    <ul>
                                        <li><a href="">Email</a></li>
                                        <li><a href="">Facebook</a></li>
                                        <li><a href="">Twitter</a></li>
                                        <li><a href="">Skype</a></li>
                                    </ul>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-50">
                            <div class="teamimg">
                                <img src="assets/img/teamfull.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="flexi">
                        <div class="grid-50">
                            <div class="teamimg">
                                <img src="assets/img/teamfull.jpg" />
                            </div>
                        </div>
                        <div class="grid-50">
                            <div class="professionals">
                                <div class="titleprof">Web & UI-UX</div>
                                <div class="aboutteam">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled book.
                                        <div class="about-social-links">
                                                <ul>
                                                    <li><a href="">Respond <i class="zmdi zmdi-long-arrow-right"></i></a></li>
                                                </ul>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                        <div class="flexi">
                            <div class="grid-50">
                                <div class="teamimg">
                                    <img src="assets/img/teamfull.jpg" />
                                </div>
                            </div>
                            <div class="grid-50">
                                <div class="professionals">
                                    <div class="titleprof">App Development</div>
                                    <div class="aboutteam">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled book.
                                            <div class="about-social-links">
                                                    <ul>
                                                        <li><a href="">Respond <i class="zmdi zmdi-long-arrow-right"></i></a></li>
                                                    </ul>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                            <div class="flexi">
                                <div class="grid-50">
                                    <div class="teamimg">
                                        <img src="assets/img/teamfull.jpg" />
                                    </div>
                                </div>
                                <div class="grid-50">
                                    <div class="professionals">
                                        <div class="titleprof">Digital Marketing</div>
                                        <div class="aboutteam">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled book.
                                                <div class="about-social-links">
                                                        <ul>
                                                            <li><a href="">Respond <i class="zmdi zmdi-long-arrow-right"></i></a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </owl-carousel>
        </div>
    </div>
    <div class="bannered technologiesshow" (wheel)="scripttowork($event)">
        <div class="bannerstart">
            <div class="panoramastart">
                <img src="assets/img/techpano.jpg" />
                <div class="pantitle">
                    WE USE THE MOST<br /> ADVANCED TECHNOLOGIES
                </div>
            </div>
        </div>
    </div>


</div>