<div class="flexi contacted">
  <div class="grid-50 contact-map">
      <iframe src="https://snazzymaps.com/embed/90669" width="100%" height="100%" style="border:none;"></iframe>
  </div>
  <div class="grid-50 contact-content">
    <div class="titlecontact">Let's<br>have a coffee together</div>
    <div class="contactdetails">
      <span>E-mail</span> <a href="mailto:sayhello@pixelorio.com">sayhello@pixelorio.com</a><span>Phone</span> <a href="tel:(+91) 9355125135">(+91) 9355125135</a>
      <br><br>Let’s talk over a cup of coffee…We can&#39;t wait to talk with you about your
      business needs &amp; upcoming project!
    </div>
    <div class="contact-social-links">
        <ul>
          <li><a href="https://www.facebook.com/Pixelorio_Squad-1220223904800118/?modal=admin_todo_tour" target="_blank"><img src="assets/img/messenger.svg"><span>Facebook</span></a></li>
          <li><a href="https://twitter.com/Pixelorio_Squad" target="_blank"><img src="assets/img/twitter.svg"><span>Twitter</span></a></li>
          <li><a href="#" target="_blank"><img src="assets/img/skype.svg"><span>Call In Skype</span></a></li>
          <li><a href="mailto:sayhello@pixelorio.com" target="_blank"><img src="assets/img/arroba.svg"><span>Write E-mail</span></a></li>
          <li><a href="https://www.linkedin.com/in/pixelorio-squad" target="_blank"><img src="assets/img/linkedin.svg"><span>Linkedin</span></a></li>
        </ul>
    </div>
      <div class="contactform">
        <app-contactform></app-contactform>
      </div>
  </div>