<div class="webservices" (scroll)="onscroll($event)">
  <div class="web-back-block backnotrotated">
    <div class="backbgweb">
      <div class="patternwebbg">
        <div class="bgwebbottom">
        </div>
      </div>
    </div>
    <div class="servicebackblockcontent">
      <div class="servicecolorblock color-red-web">
        <div class="servicecolorbg">
          <span class="bgwaves"></span>
        </div>
        <div class="servicecontentstarts">
          <div class="subtitleservice">
            <div class="inlinersub">
              <div class="wordweb">W</div>
              <div class="wordweb">E</div>
              <div class="wordweb">B</div>
            </div>
          </div>
          <div class="servicemaintitle">
            <div class="servicetitled">
              <div>HIGH-LOAD IS</div>
              <div>NEVER A PROBLEM</div>
            </div>
          </div>
          <div class="servicemainimage">
            <div class="imagecontainerservice">
              <div class="imagecontent">
                <app-websvg></app-websvg>
              </div>
            </div>
          </div>
          <div class="servicecolumns">
            <div class="itemcolumn">
              <div class="serviceacclaims">
                <img src="assets/img/acclaims.svg" />
              </div>
              <div class="servicetitlecolumn">Experts acclaim</div>
              <div class="servicedescmain">
                <div class="descninner">Our works are among global design awards winners</div>
              </div>
            </div>
            <div class="itemcolumn">
              <div class="serviceacclaims">
                <img src="assets/img/liveweb.svg" />
              </div>
              <div class="servicetitlecolumn">LIVE WEBSITES</div>
              <div class="servicedescmain">
                <div class="descninner">Thanks to using superb animations your website will not leave anyone indifferent</div>
              </div>
            </div>
            <div class="itemcolumn">
              <div class="serviceacclaims">
                <img src="assets/img/highloaded.svg" />
              </div>
              <div class="servicetitlecolumn">HIGH LOAD</div>
              <div class="servicedescmain">
                <div class="descninner">Developing services capable of processing more than 1 million users</div>
              </div>
            </div>
            <div class="itemcolumn">
              <div class="serviceacclaims">
                <img src="assets/img/machineicon.svg" />
              </div>
              <div class="servicetitlecolumn">MACHINE LEARNING</div>
              <div class="servicedescmain">
                <div class="descninner">Working with neural networks, recommendation systems, computer vision and text processing</div>
              </div>
            </div>
          </div>
          <div class="portfolioweb">
            <div class="webworks">
              <div class="webslide">
                <div class="webworkcolumns">
                  <div class="itemworkweb" routerLink="details">
                    <div class="workimg">
                      <div class="workimginner">
                        <!-- <video autoplay class="workvideo" loop muted playsinline webkit-playsinline src="assets/img/webvideo1.mp4"></video> -->
                      </div>
                    </div>
                  </div>
                  <div class="itemworkweb">
                    <div class="contentitem">
                      <div class="worktags">
                        <span class="worktag">Mass media</span>
                        <span class="worktag"><span class="separator"></span>Concepts</span>
                        <span class="worktag"><span class="separator"></span>Animations</span>
                        <span class="worktag"><span class="separator"></span>Responsive</span>
                      </div>
                      <div class="worktitle">USA Today</div>
                      <div class="workdesc">USA Today newspaper redesign. Enhanced website design with numerous intricate layouts, myriads of sections and thousands of informative pages</div>
                      <div class="workbtns">
                        <a class="sitelinks" target="_blank" href="#">
                          view site</a>
                          <a class="sitelinks" target="_blank" href="#">
                          behance</a>
                          <a class="sitelinks" target="_blank" href="#">
                          dribbble</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="webslide">
                <div class="webworkcolumns">
                  <div class="itemworkweb">
                    <div class="contentitem">
                      <div class="worktags">
                        <span class="worktag">Corporate Websites</span>
                        <span class="worktag"><span class="separator"></span>Animations</span>
                      </div>
                      <div class="worktitle">LENINGRAD</div>
                      <div class="workdesc">Corporate website of a sports advertising agency <br />«Leningrad Media»</div>
                      <div class="workbtns">
                        <a class="sitelinks" target="_blank" href="#">
                          view site</a>
                      </div>
                    </div>
                  </div>
                  <div class="itemworkweb">
                    <div class="workimg righted">
                      <div class="workimginner">
                        <!-- <video autoplay class="workvideo" loop muted playsinline webkit-playsinline src="assets/img/webvideo2.mp4"></video> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="webslide">
                <div class="webworkcolumns">
                  <div class="itemworkweb">
                    <div class="workimg">
                      <div class="workimginner">
                        <!-- <video autoplay class="workvideo" loop muted playsinline webkit-playsinline src="assets/img/webvideo1.mp4"></video> -->
                      </div>
                    </div>
                  </div>
                  <div class="itemworkweb">
                    <div class="contentitem">
                      <div class="worktags">
                        <span class="worktag">Mass media</span>
                        <span class="worktag"><span class="separator"></span>Concepts</span>
                        <span class="worktag"><span class="separator"></span>Animations</span>
                        <span class="worktag"><span class="separator"></span>Responsive</span>
                      </div>
                      <div class="worktitle">USA Today</div>
                      <div class="workdesc">USA Today newspaper redesign. Enhanced website design with numerous intricate layouts, myriads of sections and thousands of informative pages</div>
                      <div class="workbtns">
                        <a class="sitelinks" target="_blank" href="#">
                          view site</a>
                          <a class="sitelinks" target="_blank" href="#">
                          behance</a>
                          <a class="sitelinks" target="_blank" href="#">
                          dribbble</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="webslide">
                <div class="webworkcolumns">
                  <div class="itemworkweb">
                    <div class="contentitem">
                      <div class="worktags">
                        <span class="worktag">Corporate Websites</span>
                        <span class="worktag"><span class="separator"></span>Animations</span>
                      </div>
                      <div class="worktitle">LENINGRAD</div>
                      <div class="workdesc">Corporate website of a sports advertising agency <br />«Leningrad Media»</div>
                      <div class="workbtns">
                        <a class="sitelinks" target="_blank" href="#">
                          view site</a>
                      </div>
                    </div>
                  </div>
                  <div class="itemworkweb">
                    <div class="workimg righted">
                      <div class="workimginner">
                        <!-- <video autoplay class="workvideo" loop muted playsinline webkit-playsinline src="assets/img/webvideo2.mp4"></video> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="servicetechwork">
        <div class="servicemasker">
          <div class="techanimation">
            <img src="assets/img/ai-file.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="web-back-block backrotated">
    <div class="backbgweb">
      <div class="patternwebbg">
        <div class="bgwebbottom">
        </div>
      </div>
    </div>
    <div class="servicebackblockcontent">
      <div class="servicecolorblock color-red-web">
        <div class="servicecolorbg">
          <span class="bgwaves"></span>
        </div>
        <div class="servicecontentstarts">
          <div class="webworks">
            <div class="webslide">
              <div class="webworkcolumns">
                <div class="itemworkweb">
                  <div class="workimg">
                    <div class="workimginner">
                      <!-- <video autoplay class="workvideo" loop muted playsinline webkit-playsinline src="assets/img/webvideo1.mp4"></video> -->
                    </div>
                  </div>
                </div>
                <div class="itemworkweb">
                  <div class="contentitem">
                    <div class="worktags">
                      <span class="worktag">Mass media</span>
                      <span class="worktag"><span class="separator"></span>Concepts</span>
                      <span class="worktag"><span class="separator"></span>Animations</span>
                      <span class="worktag"><span class="separator"></span>Responsive</span>
                    </div>
                    <div class="worktitle">USA Today</div>
                    <div class="workdesc">USA Today newspaper redesign. Enhanced website design with numerous intricate layouts, myriads of sections and thousands of informative pages</div>
                    <div class="workbtns">
                      <a class="sitelinks" target="_blank" href="#">
                        view site</a>
                        <a class="sitelinks" target="_blank" href="#">
                        behance</a>
                        <a class="sitelinks" target="_blank" href="#">
                        dribbble</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="webslide">
              <div class="webworkcolumns">
                <div class="itemworkweb">
                  <div class="contentitem">
                    <div class="worktags">
                      <span class="worktag">Corporate Websites</span>
                      <span class="worktag"><span class="separator"></span>Animations</span>
                    </div>
                    <div class="worktitle">LENINGRAD</div>
                    <div class="workdesc">Corporate website of a sports advertising agency <br />«Leningrad Media»</div>
                    <div class="workbtns">
                      <a class="sitelinks" target="_blank" href="#">
                        view site</a>
                    </div>
                  </div>
                </div>
                <div class="itemworkweb">
                  <div class="workimg righted">
                    <div class="workimginner">
                      <!-- <video autoplay class="workvideo" loop muted playsinline webkit-playsinline src="assets/img/webvideo2.mp4"></video> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="webslide">
              <div class="webworkcolumns">
                <div class="itemworkweb">
                  <div class="workimg">
                    <div class="workimginner">
                      <!-- <video autoplay class="workvideo" loop muted playsinline webkit-playsinline src="assets/img/webvideo1.mp4"></video> -->
                    </div>
                  </div>
                </div>
                <div class="itemworkweb">
                  <div class="contentitem">
                    <div class="worktags">
                      <span class="worktag">Mass media</span>
                      <span class="worktag"><span class="separator"></span>Concepts</span>
                      <span class="worktag"><span class="separator"></span>Animations</span>
                      <span class="worktag"><span class="separator"></span>Responsive</span>
                    </div>
                    <div class="worktitle">USA Today</div>
                    <div class="workdesc">USA Today newspaper redesign. Enhanced website design with numerous intricate layouts, myriads of sections and thousands of informative pages</div>
                    <div class="workbtns">
                      <a class="sitelinks" target="_blank" href="#">
                        view site</a>
                        <a class="sitelinks" target="_blank" href="#">
                        behance</a>
                        <a class="sitelinks" target="_blank" href="#">
                        dribbble</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="webslide">
              <div class="webworkcolumns">
                <div class="itemworkweb">
                  <div class="contentitem">
                    <div class="worktags">
                      <span class="worktag">Corporate Websites</span>
                      <span class="worktag"><span class="separator"></span>Animations</span>
                    </div>
                    <div class="worktitle">LENINGRAD</div>
                    <div class="workdesc">Corporate website of a sports advertising agency <br />«Leningrad Media»</div>
                    <div class="workbtns">
                      <a class="sitelinks" target="_blank" href="#">
                        view site</a>
                    </div>
                  </div>
                </div>
                <div class="itemworkweb">
                  <div class="workimg righted">
                    <div class="workimginner">
                      <!-- <video autoplay class="workvideo" loop muted playsinline webkit-playsinline src="assets/img/webvideo2.mp4"></video> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>