<div class="content bg-brown" [@routerTransition]="getState(o)" [ngClass]="{'contactpage':this.router.url=='/contact' || this.router.url=='/about' || this.router.url=='/services/web' || this.router.url=='/services/app' || this.router.url=='/services/digitalmarketing' || this.router.url=='/services/web/details' }">
    <div class="container-content">
      <div class="header" *ngIf="this.router.url !== '/contact' || this.router.url !== '/services'">
        <div class="logo">
          <img src="assets/img/loader-2.svg" />
        </div>
        <div class="container-menu">
          <div class="menu flexi">
            <h3 class="color-brown" (click)="call()"><span class="header-icon"><i class="zmdi zmdi-phone"></i></span> (+91) 9355125135</h3>
            <h3 class="color-brown" (click)="mail()"><span class="header-icon"><i class="zmdi zmdi-email-open"></i></span> sayhello@pixelorio.com</h3>
          </div>
        </div>
      </div>

      <div class="right-sec" *ngIf="this.router.url==='/'">
      </div>

      <div class="menu-opener">
        <span></span>
        <span></span>
      </div>
      

      <div class="portfolio-link" [class.linkopened]="this.router.url=='/services'" *ngIf="this.router.url==='/'">
        <span class="zmdi zmdi-long-arrow-right"></span>
        <a routerLink="/services" (click)="spreadme()">Our portfolio</a>
      </div>

      <!-- <div class="pagetoggle" (panleft)="moveleft($event)" (panright)="moveright($event)" (panend)="swipeforroutes()" #switchroutes>
        <div class="pagename">{{ currentPageName }}</div>
        <span></span>
      </div> -->
      

      <audio id="audioclick" src="assets/sounds/clickme.mp3"></audio>
      <iframe src="http://pixelorio.com/assets/sounds/bgpixel.mp3" allow="autoplay" style="display:none" id="iframeAudio">
      </iframe>
      <audio autoplay loop id="audio">
        <source src="http://pixelorio.com/assets/sounds/bgpixel.mp3" type="audio/mpeg">
      </audio>
      
      <div class="menu-container" id="hor-menu">
        <div class="menubgname">
          <div class="titlemenu">
            <div class="letters">M</div>
            <div class="letters">E</div>
            <div class="letters">N</div>
            <div class="letters">U</div>
          </div>
        </div>
        <div class="menudarkoverlay"></div>
        <nav class="menulist">
          <ul>
            <li><a routerLink = "" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
            <li><a routerLink = "/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a></li>
            <li><a routerLink = "/services" routerLinkActive="active">Services</a></li>
            <li><a routerLink = "/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a></li>
          </ul>
        </nav>

      </div>
      <router-outlet #o="outlet"></router-outlet>
      
    </div>
  </div>

  <!-- <div class="mouse">
      <span></span>
  </div> -->

