<div class="content bg-brown" [@routerTransition]="getState(o)" [ngClass]="{'contactpage':this.router.url=='/contact' || this.router.url=='/about'}">
    <div class="container-content">
      <!-- header starts -->
      <div class="header" *ngIf="this.router.url !== '/contact'">
        <div class="logo">
          <img src="assets/img/loader.svg" />
        </div>
        <div class="container-menu">
          <div class="menu grid-50">
            <h3 class="color-brown"><span class="header-icon"><i class="zmdi zmdi-phone"></i></span> (+91) 9355125135</h3>
          </div>
          <div class="menu grid-50">
            <h3 class="color-brown"><span class="header-icon"><i class="zmdi zmdi-email-open"></i></span> sayhello@pixelorio.com</h3>
          </div>
        </div>
      </div>

      <div class="menu-opener">
        <span></span>
        <span></span>
      </div>
      

      <audio id="audioclick" src="assets/sounds/clickme.mp3"></audio>

      <audio autoplay id="audio">
        <source src="assets/sounds/bgpixel.mp3" type="audio/mpeg">
      </audio>
      
      <div class="menu-container" id="hor-menu">
        <!-- <span class="menu-bg" id="bgmenu"></span>
        <span class="menu-bg-line"></span>
        <owl-carousel
        [options]="{items: 8, dots: false, nav: true, loop:true, fluidSpeed:1000, smartSpeed:1000, mergeFit:true, center:true, lazyLoad:true}" 
        [carouselClasses]="['owl-theme', 'owl', 'row', 'owl-1', 'sliding', 'vertimenu']" #owlElement mouseWheel>
          <div class="item" >
              <a routerLink="">Home</a>
          </div>
          <div class="item" >
            <a routerLink="/about">About</a>
          </div>
          <div class="item" >
            <a href="#">Services</a>
          </div>
          <div class="item" >
            <a routerLink="/contact">Contact</a>
          </div>
        </owl-carousel> -->
        <div class="menubgname">
          <div class="titlemenu">
            <div class="letters">M</div>
            <div class="letters">E</div>
            <div class="letters">N</div>
            <div class="letters">U</div>
          </div>
        </div>
        <div class="menudarkoverlay"></div>
        <nav class="menulist">
          <ul>
            <li><a routerLink = "" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
            <li><a routerLink = "/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a></li>
            <li><a routerLink = "/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a></li>
          </ul>
        </nav>

      </div>
      <router-outlet #o="outlet"></router-outlet>
      <!-- header ends -->
      
    </div>
  </div>

  <!-- <div class="loader">
    <div class="loadlay"></div>
    <div class="e-loadholder">
      <div class="m-loader">
        <span class="e-text">
          <img src="assets/img/loader.svg" />
        </span>
      </div>
    </div>
    <particles [params]="paramblue" [style]="myStyle" [width]="width" [height]="height"></particles>
    <particles [params]="paramwhite" [style]="myStyle" [width]="width" [height]="height"></particles>
  </div> -->

  <div class="mouse">
      <span></span>
  </div>

