<div class="servicebg">
  <div class="circleservice"></div>
  <div class="servicebgtext">
      <div class="textservice">01</div>
  </div>
  <div class="servicescontent">
      <div class="services__title">
        <div class="services__title__row services__title__row_left" style="opacity: 1;">
          <div style="display: inline-block; white-space: nowrap;">
            <div style="display: inline-block;">
              W</div>
              <div style="display: inline-block;">
                e</div>&nbsp;</div><div style="display: inline-block; white-space: nowrap;">
                  <div style="display: inline-block;">
                    c</div>
                    <div style="display: inline-block;">
                      a</div><div style="display: inline-block;">
                        n</div>&nbsp;</div></div>
        <div class="services__title__row services__title__row_right services__title__row_dim" style="opacity: 1;">
          <div style="display: inline-block; white-space: nowrap;">
            <div style="display: inline-block;">
              c</div>
              <div style="display: inline-block;">
                r</div>
                <div style="display: inline-block;">
                  e</div><div style="display: inline-block;">
                    a</div><div style="display: inline-block;">
                      t</div><div style="display: inline-block;">
                        e</div>&nbsp;</div></div>
      </div>
      <div class="servicesgrid">
          <div class="gridservice servicemobile">
            <a href="javascript:void(0);" class="serviceinner" routerLink="/services/web">
              <div class="serviceitembg">
                  <div class="servicesinnerbg"></div>
                  <div class="servicesinnerbg"></div>
                  <div class="servicesinnerbg"></div>
                  <div class="servicesinnerbg"></div>
                  <div class="servicesinnerbgmobile"></div>
              </div>
              <div class="serviceitemcontent">
                <div class="serviceitemimage">
                  <div class="imagesecservice"></div>
                </div>
                <div class="servicecontentinfo">
                    <div class="servicescontenttitle">developing</div>
                    <div class="servicescontentsubtitle">Web</div>
                </div>
              </div>
            </a>
          </div>
          <div class="gridservice servicespace">
            <a href="javascript:void(0);" class="serviceinner" routerLink="/services/app">
              <div class="serviceitembg">
                  <div class="servicesinnerbg"></div>
                  <div class="servicesinnerbg"></div>
                  <div class="servicesinnerbg"></div>
                  <div class="servicesinnerbg"></div>
                  <div class="servicesinnerbgmobile"></div>
              </div>
              <div class="serviceitemcontent">
                <div class="serviceitemimage">
                  <div class="imagesecservice"></div>
                </div>
                <div class="servicecontentinfo">
                    <div class="servicescontenttitle">developing</div>
                    <div class="servicescontentsubtitle">Mobile</div>
                </div>
              </div>
            </a>
          </div>
          <div class="gridservice serviceweb">
              <a href="javascript:void(0);" class="serviceinner" routerLink="/services/digitalmarketing">
                <div class="serviceitembg">
                    <div class="servicesinnerbg"></div>
                    <div class="servicesinnerbg"></div>
                    <div class="servicesinnerbg"></div>
                    <div class="servicesinnerbg"></div>
                    <div class="servicesinnerbgmobile"></div>
                </div>
                <div class="serviceitemcontent">
                  <div class="serviceitemimage">
                    <div class="imagesecservice"></div>
                  </div>
                  <div class="servicecontentinfo">
                      <div class="servicescontenttitle">Digital</div>
                      <div class="servicescontentsubtitle">Marketing</div>
                  </div>
                </div>
              </a>
          </div>
        </div>
  </div>
</div>
