<div class="all-sections" (scroll)="onscroll($event)">
  <div class="section section-slide">
      <ngx-slick class="carousel servicecarousel" #slicker [config]="slideConfig">
          <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <img src="{{ slide.img }}" alt="" width="100%" />
                <div class="text-slide">
                  <div class="maintext">{{ slide.textmain }}</div>
                </div>
          </div>
      </ngx-slick>
      <div class="slidepaginate">
        <div class="slidepages"  *ngFor="let page of slides; let i = index" (click)="nextSlide(i)">
          <span>{{ i+1 }}</span>{{ page.textmain }}
        </div>
      </div>
  </div>
  <div class="section section-about-service">
    <div class="container">
      <div class="flexi">
        <div class="grid-50">
          <div class="flexi">
            <div class="grid-50">
              <img src="assets/img/craft.jpg" />
            </div>
            <div class="grid-50">
              <img src="assets/img/craft2.jpg" />
            </div>
          </div>
        </div>
        <div class="grid-50">
          <div class="text-about">
            <div class="text-title">Why should you choose digital marketing from us:</div>
            <div class="text-subtitle">
              Who could be better then?
            </div>
            <div class="about-desc-text">
              We offer numerous types of digital marketing
services, to be precise- Social Media Marketing (SMM), Content Marketing,
Search Engine Optimization (SEO), Search Engine Marketing (SEM), Pay-
Per-Click Advertising (PPC), Affiliate Marketing, Email Marketing, Radio
advertising, Geo-targeted marketing and so on. You get everything under one
roof, so why not to choose us.
            </div>
            <div class="about-btn">
              <a routerLink = "/about" class="pixel-btn">About Company</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-steps-service">
    <div class="container">
      <div class="flexi">
        <div class="grid-25">
          <div class="step-box text-center">
            <div class="iconcircle">
              <img src="assets/img/discuss.png" />
            </div>
            <div class="step-title">Discussion of the Idea</div>
            <div class="step-desc">Lorem Ipsum is simply text of the printing and typesetting standard industry.</div>
          </div>
        </div>
        <div class="grid-25">
          <div class="step-box text-center">
            <div class="iconcircle">
              <img src="assets/img/discuss.png" />
            </div>
            <div class="step-title">Handcrafted Templates</div>
            <div class="step-desc">Lorem Ipsum is simply text of the printing and typesetting standard industry.</div>
          </div>
        </div>
        <div class="grid-25">
          <div class="step-box text-center">
            <div class="iconcircle">
              <img src="assets/img/discuss.png" />
            </div>
            <div class="step-title">Testing for Perfection</div>
            <div class="step-desc">Lorem Ipsum is simply text of the printing and typesetting standard industry.</div>
          </div>
        </div>
        <div class="grid-25">
          <div class="step-box text-center">
            <div class="iconcircle">
              <img src="assets/img/discuss.png" />
            </div>
            <div class="step-title">Project Deployment</div>
            <div class="step-desc">Lorem Ipsum is simply text of the printing and typesetting standard industry.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-figures">
    <div class="container">
      <div class="flexi">
        <div class="grid-25">
          <div class="figurebox text-center">
            <div class="figure happy">350</div>
            <div class="factor">Cups of Coffee</div>
          </div>
        </div>
        <div class="grid-25">
          <div class="figurebox text-center">
            <div class="figure photo">127</div>
            <div class="factor">Projects Developed</div>
          </div>
        </div>
        <div class="grid-25">
          <div class="figurebox text-center">
            <div class="figure work">97</div>
            <div class="factor">Happy Clients</div>
          </div>
        </div>
        <div class="grid-25">
          <div class="figurebox text-center">
            <div class="figure phone">365</div>
            <div class="factor">Days of Support</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-carousels">
    <ngx-slick class="carousel carouselbig" #slickermain [config]="slideConfigbig">
      <div ngxSlickItem *ngFor="let slide of bigcarousel" class="slide">
            <img src="{{ slide.img }}" alt="" width="100%" />
      </div>
    </ngx-slick>
    <div class="container csmallcontainer">
      <ngx-slick class="carousel carouselsmall" #slickersmall [config]="slideConfigsmall">
        <div ngxSlickItem *ngFor="let slide of smallcarousel" class="slide">
              <div class="headsmall">{{ slide.maintext }}</div>
              <div class="descsmall">{{ slide.desctext }}</div>
        </div>
      </ngx-slick>
    </div>
  </div>
  <div class="section section-branding">
    <div class="container">
      <div class="flexi align-items-center flex-nowrap">
        <div class="grid-auto">
          <div class="brandhead">Powering Your Business Needs, Giving You Success Wings</div>
          <div class="branddesc">Digital marketing is not just about digitalizing businesses, but it
            is also about transforming businesses. Digital marketing is one of the best
            approaches these days used for marketing. So what are you waiting for???</div>
        </div>
        <div class="grid-25">
          <div class="brandbox text-center">
            <img src="assets/img/brand1.png" />
            <div class="textbrand">Fully Transparent</div>
          </div>
        </div>
        <div class="grid-25">
          <div class="brandbox text-center">
            <img src="assets/img/brand1.png" />
            <div class="textbrand">Business Integration</div>
          </div>
        </div>
        <div class="grid-25">
          <div class="brandbox text-center">
            <img src="assets/img/brand1.png" />
            <div class="textbrand">Holistic Approach</div>
          </div>
        </div>
        <div class="grid-25">
          <div class="brandbox text-center">
            <img src="assets/img/brand1.png" />
            <div class="textbrand">Updated With Industry Amendments</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="animatearea">
    <div class="section section-portfolio">
      <div class="text-center">
        <small>Best of Ours</small>
        <div class="bighead">New Projects</div>
        <div class="portfolio-grid">
          <div class="portitem" *ngFor="let item of portfolios">
            <img src="{{ item.image }}" />
            <div class="details-overlay">
              <div class="portname">{{ item.name }}</div>
              <div class="portinfo">{{ item.category }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-about-video">
    <div class="container">
      <div class="flexi align-items-center">
        <div class="grid-50">
          <div class="videohead">Pixelorio went above and beyond in serving us</div>
          <div class="videodesc">
            to create our website
and truthfully understood our needs. Working with Pixelorio has been
one of the most positive professional experiences I’ve had. Their
professional team is extremely talented and knowledgeable about every
aspect of website development and marketing, but his level of
professionalism is rare in any field.- <b>Founder- Mayank.B</b>
        </div>
        <div class="grid-50">
          <div class="flexi align-items-center">
            <div class="grid-50">
              <img src="assets/img/vid1.jpg" />
            </div>
            <div class="grid-50">
              <img src="assets/img/vid1.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-service-footer">
    <app-contact></app-contact>
  </div>
</div>
<!-- <div class="webservices" (scroll)="onscroll($event)">
  <div class="web-back-block backnotrotated">
    <div class="backbgweb">
      <div class="patternwebbg">
        <div class="bgwebbottom">
        </div>
      </div>
    </div>
    <div class="servicebackblockcontent">
      <div class="servicecolorblock">
        <div class="servicecolorbg">
          <span class="bgwaves"></span>
        </div>
        <div class="servicecontentstarts">
          <div class="subtitleservice">
            <div class="inlinersub">
              <div class="wordweb">D</div>
              <div class="wordweb">I</div>
              <div class="wordweb">G</div>
              <div class="wordweb">I</div>
              <div class="wordweb">T</div>
              <div class="wordweb">A</div>
              <div class="wordweb">L</div>
              <div class="wordweb" style="padding-right:5px;"></div>
              <div class="wordweb">M</div>
              <div class="wordweb">A</div>
              <div class="wordweb">R</div>
              <div class="wordweb">K</div>
              <div class="wordweb">E</div>
              <div class="wordweb">T</div>
              <div class="wordweb">I</div>
              <div class="wordweb">N</div>
              <div class="wordweb">G</div>
            </div>
          </div>
          <div class="servicemaintitle">
            <div class="servicetitled">
              <div>COMPLEX</div>
              <div>PROJECTS GREAT</div>
              <div>RESULTS</div>
            </div>
          </div>
          <div class="servicemainimage">
            <div class="imagecontainerservice">
              <div class="imagecontent">
                <app-digitalsvg></app-digitalsvg>
              </div>
            </div>
          </div>
          <div class="servicecolumns">
            <div class="itemcolumn">
              <div class="serviceacclaims">
                <img src="assets/img/acclaims.svg" />
              </div>
              <div class="servicetitlecolumn">Experts acclaim</div>
              <div class="servicedescmain">
                <div class="descninner">Our works are among global design awards winners</div>
              </div>
            </div>
            <div class="itemcolumn">
              <div class="serviceacclaims">
                <img src="assets/img/liveweb.svg" />
              </div>
              <div class="servicetitlecolumn">LIVE WEBSITES</div>
              <div class="servicedescmain">
                <div class="descninner">Thanks to using superb animations your website will not leave anyone indifferent</div>
              </div>
            </div>
            <div class="itemcolumn">
              <div class="serviceacclaims">
                <img src="assets/img/highloaded.svg" />
              </div>
              <div class="servicetitlecolumn">HIGH LOAD</div>
              <div class="servicedescmain">
                <div class="descninner">Developing services capable of processing more than 1 million users</div>
              </div>
            </div>
            <div class="itemcolumn">
              <div class="serviceacclaims">
                <img src="assets/img/machineicon.svg" />
              </div>
              <div class="servicetitlecolumn">MACHINE LEARNING</div>
              <div class="servicedescmain">
                <div class="descninner">Working with neural networks, recommendation systems, computer vision and text processing</div>
              </div>
            </div>
          </div>
          <div class="portfoliodigital">
            <div class="portgeneral">
              <div class="generalitem thin"></div>
              <div class="generalitem thebig">
                <div class="gnenralblockimage">
                  <div class="griditemhere">
                    <div class="gridimage" style="background-image:url('assets/img/digitalbig.jpg');"></div>
                  </div>
                </div>
              </div>
              <div class="generalitem thin itemfill">
                <div class="itemblock">
                  <div class="itemblocktags">
                    <span class="tagsitem">Mass Media</span>
                    <span class="tagsitem"><span class="separator"></span>Concepts</span>
                    <span class="tagsitem"><span class="separator"></span>Animations</span>
                  </div>
                  <div class="itemtitle">
                    <div class="itemtitleblock">USA</div>
                    <div class="itemtitleblock">TODAY</div>
                  </div>
                  <div class="itemsubtitle">
                    <div class="itemtitleblock">Redesign</div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="portimages">
              <div class="portimageitem">
                <div class="portcontent">
                  <div class="portcontentcontainer">
                    <div class="portcontentcontainerbounds">
                      <div class="boundsbg" style="background-image: url('assets/img/digitalbgmedium.jpg');"></div>
                    </div>
                    <span class="servicelabel">Live version</span>
                  </div>
                </div>
              </div>
              <div class="portimageitem right">
                <div class="portcontent">
                  <div class="portcontentcontainer">
                    <div class="portcontentcontainerbounds">
                      <div class="boundsbg" style="background-image: url('assets/img/digitalbgsmall.jpg');"></div>
                    </div>
                    <span class="servicelabel">DRIBBLE</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="portimages bottommore">
              <div class="portimageitem">
                <div class="portcontent">
                  <div class="portcontentcontainer">
                    <div class="portcontentcontainerbounds">
                      <div class="boundsbg" style="background-image: url('assets/img/digitalmobile.jpg');"></div>
                    </div>
                    <span class="servicelabel">Mobile version</span>
                  </div>
                </div>
              </div>
              <div class="portimageitem right">
                <div class="portcontent">
                  <div class="portcontentcontainer">
                    <div class="portcontentcontainerbounds">
                      <div class="boundsbg" style="background-image: url('assets/img/digitalspace.jpg');"></div>
                    </div>
                    <span class="servicelabel">DRIBBLE</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="portgeneral bottomgeneral">
              <div class="generalitem thebig">
                <div class="gnenralblockimage">
                  <div class="griditemhere">
                    <div class="gridimage" style="background-image:url('assets/img/digitalbiggeneral.jpg');"></div>
                  </div>
                </div>
              </div>
              <div class="generalitem thin"></div>
              <div class="generalitem thin itemfill">
                <div class="itemblock">
                  <div class="itemblocktags">
                    <span class="tagsitem">Mass Media</span>
                    <span class="tagsitem"><span class="separator"></span>Concepts</span>
                    <span class="tagsitem"><span class="separator"></span>Animations</span>
                  </div>
                  <div class="itemtitle">
                    <div class="itemtitleblock">USA</div>
                    <div class="itemtitleblock">TODAY</div>
                  </div>
                  <div class="itemsubtitle">
                    <div class="itemtitleblock">Redesign</div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="servicetechwork">
        <div class="servicemasker">
          <div class="techanimation">
            <img src="assets/img/ai-file.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="web-back-block backrotated">
    <div class="backbgweb">
      <div class="patternwebbg">
        <div class="bgwebbottom">
        </div>
      </div>
    </div>
    <div class="servicebackblockcontent">
      <div class="servicecolorblock">
        <div class="servicecolorbg">
          <span class="bgwaves"></span>
        </div>
        <div class="servicecontentstarts">
          <div class="portfoliodigital">
            <div class="portgeneral">
              <div class="generalitem thin"></div>
              <div class="generalitem thebig">
                <div class="gnenralblockimage">
                  <div class="griditemhere">
                    <div class="gridimage" style="background-image:url('assets/img/digitalbig.jpg');"></div>
                  </div>
                </div>
              </div>
              <div class="generalitem thin itemfill">
                <div class="itemblock">
                  <div class="itemblocktags">
                    <span class="tagsitem">Mass Media</span>
                    <span class="tagsitem"><span class="separator"></span>Concepts</span>
                    <span class="tagsitem"><span class="separator"></span>Animations</span>
                  </div>
                  <div class="itemtitle">
                    <div class="itemtitleblock">USA</div>
                    <div class="itemtitleblock">TODAY</div>
                  </div>
                  <div class="itemsubtitle">
                    <div class="itemtitleblock">Redesign</div>
                  </div>
                </div>
              </div>
              
            </div>
            
            <div class="portgeneral bottomgeneral">
              <div class="generalitem thebig">
                <div class="gnenralblockimage">
                  <div class="griditemhere" style="padding-top: 76.375%;">
                    <div class="gridimage" style="background-image:url('assets/img/digitalbig2.jpg');"></div>
                  </div>
                </div>
              </div>
              <div class="generalitem thin"></div>
              <div class="generalitem thin itemfill">
                <div class="itemblock">
                  <div class="itemblocktags">
                    <span class="tagsitem">Mass Media</span>
                    <span class="tagsitem"><span class="separator"></span>Concepts</span>
                    <span class="tagsitem"><span class="separator"></span>Animations</span>
                  </div>
                  <div class="itemtitle">
                    <div class="itemtitleblock">USA</div>
                    <div class="itemtitleblock">TODAY</div>
                  </div>
                  <div class="itemsubtitle">
                    <div class="itemtitleblock">Redesign</div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->