	<div class="background-img">
		
	</div>
	<div class="bg-animating">
		<span class="blended-overlay"></span>
		<img src="assets/img/circles-brown.svg" />
	</div>
	<div class="boxed">
	<div class="main-title">
		<h2>
			We <br>Fabricate
				<div class="slidingtext">
					<owl-carousel
						[options]="{items: 1, dots: false, nav: false, loop:true, autoplayTimeout: 3500, autoplay:true, animateIn: 'slideInUp', animateOut: 'slideOutUp', mouseDrag:false}" 
						[carouselClasses]="['owl-theme', 'owl', 'row', 'owl-1', 'sliding']" #owlElements>
						<div class="item">Mobile Apps</div>
						<div class="item">Web Design</div>
						<div class="item">UI/UX Design</div>
					</owl-carousel>
				</div>
		</h2>
		<p>
			We are Pixelorio, we meet all your digital needs. From a professional website
to an engaging app, from website development to digitalization chore, we
offer best-in-class services.
		</p>
		<div class="home-social-links">
				<ul>
					<li class="Follow-text">Follow Us :</li>
					<li><a style="color:#12a5f4"><i class="zmdi zmdi-skype"></i> &nbsp;Skype</a></li>
					<li><a style="color:#3B5998 " href="https://www.facebook.com/Pixelorio_Squad-1220223904800118/?modal=admin_todo_tour" target="_blank"><i class="zmdi zmdi-facebook"></i> &nbsp;Facebook</a></li>
					<li><a style="color:#1DA1F2" href="https://twitter.com/Pixelorio_Squad" target="_blank"><i class="zmdi zmdi-twitter"></i> &nbsp;Twitter</a></li>
					<li><a style="color:#0077B5" href="https://www.linkedin.com/in/pixelorio-squad" target="_blank"><i class="zmdi zmdi-linkedin"></i> &nbsp;Linkedin</a></li>
				</ul>
			</div>
	</div>
	</div>
	
	<div class="live-folios">
		<div class="portslider">
			<span class="autoplayslider"></span>
			<owl-carousel [options]="{items: 1, dots: false, nav: true, loop:true, autoplayTimeout: 6500, smartSpeed:1500, autoplay:true, mouseDrag:true}" 
			[carouselClasses]="['owl-theme', 'owl', 'row', 'owl-2', 'sliding']" #owl2 (init)="lll()">
				<div class="item" *ngFor="let port of portfolios">
					<div class="portbox" [ngStyle]="{'background':port.theme}">
						<img src="{{ port.src }}" />
					</div>
				</div>
			</owl-carousel>
		</div>
		<div class="button-area">
			<a href="#" routerLink = "/contact" #hoverme><span class="btntext">Contact Us</span><span class="btnicon"><span class="iconnow"></span></span></a>
		</div>
	</div>
